# frozen_string_literal: true

module <%= namespace %>
  module Contracts
    module <%= camel_plural %>
      class CreateContract < Dry::Validation::Contract
        <%= contract_deps %>

        params do
          required(:record).hash do
<%= contract_fields %>
          end
        end
      end
    end
  end
end
