# frozen_string_literal: true

RSpec.describe <%= namespace %>::Operations::<%= camel_plural %>::CreateOperation, :db, type: :operation do
  let(:<%= repo %>) { Hanami.app["repos.<%= repo %>"] }

  # Add your tests here
end
